<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Movie #<%= @movie.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Director</dt>
              <dd><%= @movie.director_id %></dd>

              <dt>Image url</dt>
              <dd><%= @movie.image_url %></dd>

              <dt>Description</dt>
              <dd><%= @movie.description %></dd>

              <dt>Duration</dt>
              <dd><%= @movie.duration %></dd>

              <dt>Year</dt>
              <dd><%= @movie.year %></dd>

              <dt>Title</dt>
              <dd><%= @movie.title %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/movies" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/movies/<%= @movie.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_movie/<%= @movie.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
