<!-- Validation failure messages -->

<% if @role.errors.any? %>
  <% @role.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Role #<%= @role.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_role/<%= @role.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for character_name -->
          <div class="form-group">
            <label for="character_name" class="col-sm-2 control-label">
              Character name
            </label>
            <div class="col-sm-10">
              <input type="text" id="character_name" name="character_name" placeholder="Character name" class="form-control" value="<%= @role.character_name %>">
            </div>
          </div>

          <!-- Label and input for actor_id -->
          <div class="form-group">
            <label for="actor_id" class="col-sm-2 control-label">
              Actor
            </label>
            <div class="col-sm-10">
              <input type="text" id="actor_id" name="actor_id" placeholder="Actor" class="form-control" value="<%= Actor.find_by({ :id => @role.actor_id}).name %>">
            </div>
          </div>

          <!-- Label and input for movie_id -->
          <div class="form-group">
            <label for="movie_id" class="col-sm-2 control-label">
              Movie
            </label>
            <div class="col-sm-10">
             <%= select_tag :movie_id, options_from_collection_for_select(Movie.all, :id, :title, @role.movie_id), :class => "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Role
              </button>
              or
              <a href="/roles/<%= @role.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
